doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title="Google login"
        style 
            include ./style.css
    body
        div
            
            button
                a(href = "http://localhost:3000/auth/google") Sign in with your Google Account
            

        
    