doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title="Logged with Google Account"
        style 
            include ./style.css
    body
        div.container
            h1 Hi, #{first_name} #{last_name}
            p You are logged with your Google Account