doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title="Google login"
        style 
            include ./style.css
    body
        div.container
            h1 Sign in with your Google Account
            form(action="http://localhost:3000/logged",method="GET")
                p First Name:
                    input(type="text",name="first_name")
                p   Last Name: 
                    input(type="text",name="last_name")
                input(type="submit", value="Submit") 

        
    